// variable css pour la couleur des types de pokemon

.card.grass {
  background: #78c850;
}
.card.ground {
  background: #E2BF65;;
}
.card.dragon {
  background: #6F35FC;
}
.card.fire {
  background: #F58271;
}
.card.electric {
  background: #F7D02C;
}
.card.fairy {
  background: #D685AD;
}
.card.poison {
  background: #966DA3;
}
.card.bug {
  background: #B3F594;
}
.card.water {
  background: #6390F0;
}
.card.normal {
  background: #D9D5D8;
}
.card.psychic {
  background: #F95587;
}
.card.flying {
  background: #A98FF3;
}
.card.fighting {
  background: #C25956;
}
.card.rock {
  background: #B6A136;
}
.card.ghost {
  background: #735797;
}
.card.ice {
  background: #96D9D6;
}