@import '../../Styles/_vars';

.pokemonList {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 1em;
}
.card {
  width: 25vw;
  text-align: center;
  color: white;
  padding: 2em;
}
li{
  text-decoration: none;
  list-style-type: none;
  font-size: 2em;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
a{
  color: white !important;
}

.search-poke {
  width: 50%;
  margin: auto;
  position: relative;
  display: flex;
  padding-top: 1.5em;
}
.search-poke input {
  font-size: 1em;
}
.search-poke label {
  font-size: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  padding-left: 0.5em;
}
.search-poke button {
  padding: 0.6em;
  background: dimgrey;
  color: white;
  border: none;
  border-radius: 10%;
  margin-left: 1em;
}
.search-poke:focus-within label {
  top: 10px;
  padding-left: 0.2em;
}
#searching {
  margin-top: 1em;
}

#container a {
  font-size: 3vw;
  text-align: center;
}

// media queries pour smartphone
@media only screen and (max-width: 800px) {
  body {
    background: red;
  }
  .pokemonList .card {
    height: 20vh;
  }
  #container {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: center;
    align-items: center;
  }
  .search-poke {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}